<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../lib/flexible.debug.js"></script>
    <link rel="stylesheet" href="../lib/Lich/LichUI.css">
    <link rel="stylesheet" href="../example.css">
</head>

<body>
    <button class="btn btn-primary">页面主要按钮</button>
    <button class="btn btn-normal">页面次要按钮</button>
    <button class="btn btn-primary btn-disabled" disabled>页面禁用按钮</button>
    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="//cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="../lib/Lich/LichUI.js"></script>
</body>

</html>